#Excerise

Filter what jobs to apply based on a list of skills.

In [ ]:
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]

In [ ]:
for job in job_roles:
  print(job['role'])

Data Analyst
Data Scientist
Machine Learning Engineer
Data Engineer
Business Intelligence Analyst
Quantitative Analyst
Operations Analyst
Database Administrator
AI Engineer
Statistician

In [ ]:
for job in job_roles:
  print(job['skills'])

['Python', 'SQL', 'Excel']
['Python', 'R', 'Machine Learning', 'Deep Learning']
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
['Python', 'Apache Spark', 'Hadoop', 'SQL']
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
['R', 'Python', 'MATLAB', 'Statistics']
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
['SQL', 'Oracle', 'MySQL', 'Database Management']
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
['R', 'SAS', 'Python', 'Statistical Modeling']

In [ ]:
for job in job_roles:
  for skill in my_skills:
    print('skills')
    print(job['skills'])

skills
['Python', 'SQL', 'Excel']
skills
['Python', 'SQL', 'Excel']
skills
['Python', 'SQL', 'Excel']
skills
['Python', 'R', 'Machine Learning', 'Deep Learning']
skills
['Python', 'R', 'Machine Learning', 'Deep Learning']
skills
['Python', 'R', 'Machine Learning', 'Deep Learning']
skills
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
skills
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
skills
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
skills
['Python', 'Apache Spark', 'Hadoop', 'SQL']
skills
['Python', 'Apache Spark', 'Hadoop', 'SQL']
skills
['Python', 'Apache Spark', 'Hadoop', 'SQL']
skills
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
skills
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
skills
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
skills
['R', 'Python', 'MATLAB', 'Statistics']
skills
['R', 'Python', 'MATLAB', 'Statistics']
skills
['R', 'Python', 'MATLAB', 'Statistics']
skills
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
skills
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
skills
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
skills
['SQL', 'Oracle', 'MySQL', 'Database Management']
skills
['SQL', 'Oracle', 'MySQL', 'Database Management']
skills
['SQL', 'Oracle', 'MySQL', 'Database Management']
skills
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
skills
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
skills
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
skills
['R', 'SAS', 'Python', 'Statistical Modeling']
skills
['R', 'SAS', 'Python', 'Statistical Modeling']
skills
['R', 'SAS', 'Python', 'Statistical Modeling']

In [ ]:
for job in job_roles:
  for skill in my_skills:
    if skill in job['skills']:
      print(skill)
      print(job['skills'])

Python
['Python', 'SQL', 'Excel']
SQL
['Python', 'SQL', 'Excel']
Excel
['Python', 'SQL', 'Excel']
Python
['Python', 'R', 'Machine Learning', 'Deep Learning']
Python
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
Python
['Python', 'Apache Spark', 'Hadoop', 'SQL']
SQL
['Python', 'Apache Spark', 'Hadoop', 'SQL']
Python
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
SQL
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
Excel
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
Python
['R', 'Python', 'MATLAB', 'Statistics']
Python
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
SQL
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
SQL
['SQL', 'Oracle', 'MySQL', 'Database Management']
Python
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
Python
['R', 'SAS', 'Python', 'Statistical Modeling']

In [ ]:
for job in job_roles:
  qualified = True

  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      print(qualified)
      print(skill)
      print(job['skills'])

False
SQL
['Python', 'R', 'Machine Learning', 'Deep Learning']
False
Excel
['Python', 'R', 'Machine Learning', 'Deep Learning']
False
SQL
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
False
Excel
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
False
Excel
['Python', 'Apache Spark', 'Hadoop', 'SQL']
False
SQL
['R', 'Python', 'MATLAB', 'Statistics']
False
Excel
['R', 'Python', 'MATLAB', 'Statistics']
False
Excel
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
False
Python
['SQL', 'Oracle', 'MySQL', 'Database Management']
False
Excel
['SQL', 'Oracle', 'MySQL', 'Database Management']
False
SQL
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
False
Excel
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
False
SQL
['R', 'SAS', 'Python', 'Statistical Modeling']
False
Excel
['R', 'SAS', 'Python', 'Statistical Modeling']

In [ ]:
for job in job_roles:
  qualified = True


  for skill in my_skills:
    if skill in job['skills']:
      qualified = False
      print(qualified)
      print(skill)
      print(job['skills'])
      break

False
Python
['Python', 'SQL', 'Excel']
False
Python
['Python', 'R', 'Machine Learning', 'Deep Learning']
False
Python
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
False
Python
['Python', 'Apache Spark', 'Hadoop', 'SQL']
False
Python
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
False
Python
['R', 'Python', 'MATLAB', 'Statistics']
False
Python
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
False
SQL
['SQL', 'Oracle', 'MySQL', 'Database Management']
False
Python
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
False
Python
['R', 'SAS', 'Python', 'Statistical Modeling']

In [ ]:
for job in job_roles:
  qualified = True


  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      break
  if qualified:
    print(job)

{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}
{'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}

In [ ]:
# Determine which jobs you're qualified for
qualified_roles = []

for job in job_roles:
  # Check if all required skills are in my_skills
  if all(skill in job['skills'] for skill in my_skills):
    # Add the job role to the qualified_roles list
    qualified_roles.append(job['role'])

# Print the qualified job roles
print(qualified_roles)

['Data Analyst', 'Business Intelligence Analyst']

Using list comprehension

In [ ]:
qualified_roles = [job['role'] for job in job_roles if all(skill in job['skills'] for skill in my_skills)]

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']